<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar {{ progress1 }}</h4>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 10px"
            role="progressbar"
            [ngStyle]="{'width': getProgress1}"
          ></div>
        </div>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-sucess progress-bar-striped active"
            style="height: 10px"
            role="progressbar"
            [ngStyle]="{'width': getProgress2}"

          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increase
            (changeValue)="progress1 = $event"  
            [progress]="progress1" 
            [progressValue]="10"> 
        </app-increase>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increase
            (changeValue)="progress2 = $event" 
            [progress]="progress2" 
            [progressValue]="15"
            [btnClassName]="'btn-success'"> 
        </app-increase>
      </div>
    </div>
  </div>
</div>
