<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar médico..."
          (keyup)="onSearchTerm(txtTerm.value)"
          #txtTerm
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Total de médicos ({{totalRegisters}})</h4>
            <h6 class="card-subtitle">Médicos registrados en mi aplicación</h6>
          </div>

          <div class="col">
            <div class="text-right mr-1">
              <a
                class="btn btn-primary"
                routerLink="/dashboard/doctors/new">
                <i class="fa fa-hospital-o"></i>
                Crear médico
              </a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let doctor of doctors">
              <tr>
                <td class="text-center">
                  <img
                    (click)="openUpdateImgModal(doctor)"
                    [src]="doctor.img | image: 'doctors'"
                    [alt]="doctor.name"
                    class="avatar cursor" />
                </td>
                <td>{{ doctor.name }}</td>

                <td class="text-nowrap text-center">
                  <a
                  [routerLink]="['/dashboard/doctors', doctor._id]"
                  data-toggle="tooltip"
                  data-original-title="Edit"
                  class="cursor mr-2"
                >
                  <i class="fa fa-edit text-danger"></i>
                </a>
                  <a
                    (click)="onDeleteDoctor(doctor)"
                    data-toggle="tooltip"
                    data-original-title="Delete"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="txtTerm.value.length === 0">
          <button class="btn btn-secondary" (click)="changePage(-5)">Anterior</button>
          &nbsp;
          <button class="btn btn-secondary" (click)="changePage(+5)">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</div>
